.section {
  display: flex;
  flex-direction: column;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__card {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
