.section__card__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.airDropTimer__blok {
  display: flex;
  gap: 25px;
}
.airDropTimer__item {
  display: flex;
  flex-direction: column;
}
